<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" type="image/svg+xml" href="/static/images/vite.svg" />
    <link rel="stylesheet" href="/static/css/default.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Сodefy</title>
    <meta name="title" content="Codefy" />
    <meta name="description" content="Search for useful links in one click" />
    <meta name="keywords" content="code, codefy, programming, links" />
    <meta name="robots" content="index, nofollow" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="English" />
    <script type="module" crossorigin src="/static/js/index-75646078.js"></script>
    <link rel="stylesheet" href="/static/css/index-2d146405.css">
  </head>

  <body>
    <div class="frame">
      <div class="logo">
        <img
          src="/static/images/fullLogo.svg"
          alt=""
          class="codefy animate-fade-down"
        />
        <span class="main-text text-midgray animate-fade-up"
          >Search for useful links in one click</span
        >
        <a
          href="#search"
          class="absolute top-3/4 animate-fade-up animate-delay-200"
        >
          <img src="/static/images/ep_arrow-down-bold.svg" alt="" />
        </a>
      </div>

      <img src="/static/images/planet.png" alt="" class="planet" />

      <div id="root"></div>
    </div>
    
  </body>
</html>
